* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.wrapper-cpu {
    margin: 2px;
    width: 704px;
    height: 160px;
    border: 1px solid rgba(219, 118, 118, 0.911);
    padding: 2px;
    -webkit-app-region: drag;
    background-color: rgba(0, 0, 0, 0.0);
}

.app {
    position: relative;
    padding: 24px;
    width: 732px;
    height: 180px;
    display: flex;
    -webkit-app-region: drag;
    justify-content: last baseline;
    background-color: rgba(53, 52, 52, 0.322);
    color: rgba(240, 248, 255, 0.767);
}

canvas {
    width: 702px;
    height: 158px;
}
